<a href="https://colab.research.google.com/github/Belen-Ramos/Lenguajes/blob/main/Dataframes%20-%20Escolaridad%20CABA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from matplotlib import pyplot as plt
import pandas as pd

In [5]:
datos = pd.read_csv("Escolaridad.csv")
datos

    anio sexo  tasa_escolarizacion     nivel_enseñanza
0   2010    m            98.691685            Primario
1   2010    m            90.834319  Secundario / Medio
2   2010    m            56.045592            Superior
3   2010    v            99.246794            Primario
4   2010    v            87.409196  Secundario / Medio
5   2010    v            47.470696            Superior
6   2011    m            97.613768            Primario
7   2011    m            93.562594  Secundario / Medio
8   2011    m            54.714952            Superior
9   2011    v            97.953197            Primario
10  2011    v            89.220552  Secundario / Medio
11  2011    v            50.721182            Superior
12  2012    m            98.236857            Primario
13  2012    m            89.685871  Secundario / Medio
14  2012    m            58.801200            Superior
15  2012    v            97.970918            Primario
16  2012    v            87.920767  Secundario / Medio
17  2012    v            47.950650            Superior
18  2013    m            99.000000            Primario
19  2013    m            91.400000  Secundario / Medio
20  2013    m            57.500000            Superior
21  2013    v            99.100000            Primario
22  2013    v            88.200000  Secundario / Medio
23  2013    v            44.800000            Superior
24  2014    m            97.100000            Primario
25  2014    m            87.800000  Secundario / Medio
26  2014    m            53.100000            Superior
27  2014    v            97.500000            Primario
28  2014    v            89.000000  Secundario / Medio
29  2014    v            46.200000            Superior
30  2015    m            98.800000            Primario
31  2015    m            90.800000  Secundario / Medio
32  2015    m            56.700000            Superior
33  2015    v            98.500000            Primario
34  2015    v            87.800000  Secundario / Medio
35  2015    v            48.500000            Superior
36  2016    m            98.533311            Primario
37  2016    m            90.675815  Secundario / Medio
38  2016    m            53.842756            Superior
39  2016    v            97.266041            Primario
40  2016    v            85.964933  Secundario / Medio
41  2016    v            48.368806            Superior
42  2017    m            98.700000            Primario
43  2017    m            93.100000  Secundario / Medio
44  2017    m            52.600000            Superior
45  2017    v            97.700000            Primario
46  2017    v            89.800000  Secundario / Medio
47  2017    v            49.900000            Superior